$colorFooter: rgb(255, 255, 255);
$colorPrincipaleFooter: white;
$backgroundHeader: #FFFFFF;
$colorHeader: rgb(0, 0, 0);
$bgColor: #1D1D1F;
$footerPadTop: 180px;
$rowFooterPadTop: 20px;
$colorFooter: white;
$colorHoover: #A9B3B9;
$imgFooterWidth: 25%;
$imgWidth: 2vw;
$navBottom: 1px solid white;
$paddingBottom: 20px;
$textAlign: right;
$footerPosition: relative;
$whiteSpace: nowrap;
$main_bg_pub: #E7816B;
$bradius_main: 20px;
$main_color: #FFFFFF;
$secondary_color: #000000;
$row_padding_top: 150px;
$row_padding_left: 50px;
$faPaddingBot: 10px;
$main_container_align_top: 50px;
$main_container_position: relative;
$main_img_position: absolute;
$main_img_width: 30%;
$main_img_align_left: 750px;
$main_img_align_top: 150px;
$main_h1_margin_bottom: 20px;
$row1MarginBottom: 100px;
$row1PaddingBottom: 80px;
$marginAuto: auto;
$h2MarginBottom: 30px;
$footerPadBot: 1px;
$floatBotPos: relative;